# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.Python

# Environments
.env
.venv/
venv/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

